:root {
    --bg-dark: #200F30;
    --panel-bg: #1C1441;
    --primary: #00407C;
    --input: #191F64;
    --text-primary: #3b82f6;
    --green: #2ecc71;
    --red: #e74c3c;
    --orange: #f1c40f;
    --text-main: #ffffff;
    --text-muted: #8d8d9e;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-dark);
    color: var(--text-main);
}

header{
    background-color: var(--panel-bg);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.app-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
    flex-wrap: wrap;
    gap: 20px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo h1 {
    margin: 0;
    font-size: 1.5rem;
    color: var(--text-primary);
}

.stats-panel {
    display: flex;
    gap: 15px;
}

.stat-badge {
    background: var(--input);
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 400;
}
.stat-badge.normal > output { color: var(--green);}
.stat-badge.warning > output { color: var(--orange);}
.stat-badge.critical > output { color: var(--red);}

.control-panel {
    background: var(--panel-bg);
    padding: 25px;
    border-radius: 12px;
    margin-bottom: 30px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

.control-panel h2 {
    margin-top: 0;
    color: var(--text-primary);
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    gap: 15px;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.input-group {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.input-group.sm {
    flex: 0.5;
    min-width: 80px;
}
.input-group.btn-area {
    flex: 0;
}

label {
    font-size: 0.8rem;
    color: var(--text-muted);
    margin-bottom: 5px;
}

input, select {
    background: var(--input);
    border: none;
    color: white;
    padding: 12px 14px;
    border-radius: 6px;
    font-size: 0.9rem;
}

.btn-primary {
    background: var(--primary);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    white-space: nowrap;
}
.btn-primary:hover { background: #2b6cb0; }

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.filter-btn {
    background: transparent;
    border: 1px solid #4a5568;
    color: var(--text-muted);
    padding: 6px 16px;
    border-radius: 4px;
    cursor: pointer;
}
.filter-btn.active, .filter-btn:hover {
    background: #2d3748;
    color: white;
    border-color: #3182ce;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}


@media screen and (max-width: 512px) {
    .stats-panel {
        flex-direction: column;
    }
}

